<page style="background-color: white;">
<ActionBar>
    <Label class="title" text="Weather App" ></Label>
</ActionBar>
<ScrollView >
    <ListView [items]=data>
        <ng-template let-item="item" let-i="index">
            <StackLayout  marginTop="45px" orientation="horizontal">
                <StackLayout class="container" borderWidth="1">
                    <Button class="edit" (tap)="change(i)" text={{item.button}}></Button>
                    <StackLayout *ngIf="item.result; else elseBlock" style="margin-top: -70;" >
                        <Label class="location" text = {{item.details.name}},{{item.details.sys.country}}></Label>
                        <Image width="350" height="350" style="margin-top: -30;"
                                src="https://openweathermap.org/img/wn/{{item.details.weather[0].icon}}@2x.png" >
                        </Image>
                        <Label class="temp" text={{item.temp}}{{degree}}C></Label>
                        <Label class="feels" text={{feels}}{{item.feelsLike}}{{degree}}C></Label>
                        <Label class="min_max" text={{item.temp_min}}{{divide}}{{item.temp_max}}{{degree}}C></Label>
                        <Label class="climate" text={{item.details.weather[0].main}}></Label>
                        <Label class="condition"text={{item.details.weather[0].description}}></Label>
                        <Image width="30" height="30" class="wind"
                                src="https://pluspng.com/img-png/wind-blowing-png-hd-air-blow-blowing-blustery-wind-windy-icon-512.png" >
                        </Image>
                        <Label class="windtxt" text={{item.details.wind.speed}}{{speed}}></Label>
                        <Image width="30" height="30" class="humidity"
                                src="https://static.thenounproject.com/png/393081-200.png" >
                        </Image>
                        <Label class="humiditytxt" text={{item.details.main.humidity}}%></Label>
                        <Label class="date_time" text = UPDATED{{item.day}},{{item.time}}></Label>
                        
                    </StackLayout>
                    <ng-template #elseBlock>
                        <Label class="nofeed" text = {{item.details.name}} ></Label>
                    </ng-template>
                    <StackLayout *ngIf="item.display" style="margin-top: -50; position: sticky;">
                        <TextField class="input" [(ngModel)]="city" hint="City Name" ></TextField>
                        <button (tap)="search(i)" class="search" text="Get Data"></button>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</ScrollView>
</page>